<footer>
  <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" class.xs="footer-xs">
    <div fxFlex="80">
      <span>{{ 'testImg App' | translate }} 2017</span>
    </div>
    <div fxFlex class="text-right" class.xs="footer-xs">
      <a href="https://angular.io/" target="_blank"><img src="assets/images/angular.svg"></a>
    </div>
  </div>
</footer>

<!-- <footer id="footer" class="clearfix"></footer>
<div id="loading">
  <div class="content"></div>
</div>

<div class="load-font">
  <div class="normal">.</div>
  <div class="italic">.</div>
  <div class="bold">.</div>
  <div class="bold-italic">.</div>
</div> -->